<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> © 2023 All rights reserved to Store  The Dress Boutique</p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2"> <i class="fa fa-phone"></i> Call us +201200585339 | +201033522579 </span>
				<span  class="px-2"><li> <i class="fa fa-envelope"></i> Email | django.dressboutique@gmail.com </li>				</span>
				<span  class="px-2"> ShowRoom In Madinaty </span>
			</div>
			
			<div class="float-right d-none d-sm-inline-block">
				<a target="_blank" href="https://www.facebook.com/TheDressBoutique1"> <i class="fa-brands fa-facebook"></i></a>
				<a target="_blank" class="text-warning" href="https://www.instagram.com/the_dressboutique_/"><i class="fab fa-lg ml-1 fa-instagram"></i></a>

			</div>

		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>

</body>
</html>